{% extends "base.html" %} {% block content %}
<h3>Grupos</h3>
<form method="post" class="card p-3 mb-3">
  <div class="row g-2">
    <div class="col-md-4">
      <label>Nombre</label><input name="nombre" class="form-control" required />
    </div>
    <div class="col-md-3">
      <label>Turno</label>
      <select name="turno" class="form-select">
        <option>MATUTINO</option>
        <option>VESPERTINO</option>
      </select>
    </div>
  </div>
  <div class="mt-2"><button class="btn btn-primary">Guardar</button></div>
</form>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Turno</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for g in grupos %}
    <tr>
      <td>{{ g.nombre }}</td>
      <td>{{ g.turno.value }}</td>
      <td>
        <a
          class="btn btn-sm btn-secondary"
          href="{{ url_for('main.grupo_editar', id=g.id) }}"
          >Editar</a
        >
        <a
          class="btn btn-sm btn-danger"
          href="{{ url_for('main.grupo_borrar', id=g.id) }}"
          onclick="return confirm('¿Eliminar?')"
          >Borrar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
